*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cs{
   font-style: italic;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 8rem;
}
.individualScore{
    display: flex;
    gap: 40px;
}

#displayWinner{
    font-size: 30px;
}
.choicesBtn {
    display: flex;
    gap: 1rem;
}

.choicesBtn button {
    padding: 10rem;
}

.choicesBtn > div {
    width: 400px;
    text-align: center;
}
img {
    object-fit: cover;
    width: 200px;
}